@model UniWatch.ViewModels.EnrollStudentViewModel

<h3>Enroll a Student</h3>
<hr />

<p>
    @Html.ActionLink("Back", "Index", new { classId = Model.Class.Id }, new { @class = "btn btn-default" })
</p>

<div class="row">
    <div class="form-group col-md-3">
        @using(Html.BeginForm("Search", "Student", new { classId = Model.Class.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="input-group">
                <input id="searchTerm" name="searchTerm" type="text" class="form-control" maxlength="64" placeholder="Search" />
                <div class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search" />
                </div>
            </div>
        }
    </div>
</div>


@if(Model.StudentsFound == null)
{
    <p>Search for the student by Id</p>
}
else if(!Model.StudentsFound.Any())
{
    <p>No results to display</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach(var student in Model.StudentsFound)
            {
                <tr>
                    <td>@student.Student.Id</td>
                    <td>@student.Student.FirstName</td>
                    <td>@student.Student.LastName</td>
                    <td>
                        @if(student.Enrolled)
                        {
                            @:Already enrolled
                        }
                        else
                        {
                            using(Html.BeginForm("Enroll", "Student", new { classId = Model.Class.Id, studentId = student.Student.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Enroll" class="btn btn-success" />
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <p>
        @Html.ActionLink("Back", "Index", new { classId = Model.Class.Id }, new { @class = "btn btn-default" })
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}