@model IEnumerable<UniWatch.Models.Class>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>My Classes</h3>

@if (!Model.Any())
{
    @:It's empty in here. Your classes will show up once a teacher enrolls you in his/her class.
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    Teacher
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Index", "Lecture", new { classId = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @string.Format($"{item.Teacher.FirstName} {item.Teacher.LastName}")
                    </td>
                </tr>
            }
        </table>
    </div>
}