@model UniWatch.ViewModels.UpdateLectureViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Class.Name - @Model.Lecture.RecordDate.ToShortDateString()</h2>
<hr />

@using (Html.BeginForm("Override", "Lecture", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Back", "Index", "Lecture", new { classId = Model.Class.Id }, new { @class = "btn btn-default" })
        <input type="submit" value="Update" class="btn btn-success" />
        @Html.ActionLink("Delete", "Delete", "Lecture", new { lectureId = Model.Lecture.Id }, new { @class = "btn btn-danger" })
    </p>

    @Html.HiddenFor(model => model.Lecture.Id)
    ;

    if (!Model.LectureItems.Any())
    {
        <h4>There is no attendance for this lecture</h4>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Present</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.LectureItems.Count; i++)
                {
                    <tr>
                        <td>@Model.LectureItems[i].StudentName</td>
                        <td>
                            @Html.HiddenFor(model => model.LectureItems[i].LectureId)
                            @Html.HiddenFor(model => model.LectureItems[i].StudentId)
                            @Html.CheckBoxFor(model => model.LectureItems[i].Present)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <p/>
        if (Model.Lecture.Images.Any())
        {
            <div id="divCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#divCarousel" data-slide-to="0" class="active"></li>
                    @for (var i = 1; i < Model.Lecture.Images.Count; i++)
                    {
                        <li data-target="#divCarousel" data-slide-to="@i"></li>
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        @{ var image = Model.Lecture.Images.ElementAt(0); }
                        <img src="@image.Url" alt="@string.Format($"Lecture Image #{image.Id}")">
                    </div>

                    @for (var i = 1; i < Model.Lecture.Images.Count; i++)
                    {
                        <div class="item">
                            @{ image = Model.Lecture.Images.ElementAt(i); }
                            <img src="@image.Url" alt="@string.Format($"Lecture Image #{image.Id}")">
                        </div>
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#divCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#divCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <br />
            <p>
                @Html.ActionLink("Back", "Index", "Lecture", new {classId = Model.Class.Id}, new {@class = "btn btn-default"})
                <input type="submit" value="Update" class="btn btn-success"/>
                @Html.ActionLink("Delete", "Delete", "Lecture", new {lectureId = Model.Lecture.Id}, new {@class = "btn btn-danger"})
            </p>
        }
        else
        {
            <h4>There are no attendance images for this lecture</h4>
        }
    }
}