@model UniWatch.ViewModels.Lecture.LectureViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Override Lecture - @ViewBag.LectureDate</h2>
<hr />

@using (Html.BeginForm("Override", "Lecture", FormMethod.Post, new { model = Model })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Lecture.Id);

    if (!Model.Students.Any())
    {
        <h4>There is no attendance for this lecture</h4>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student</th>
                <th class="text-center">Attendance</th>
            </tr>
            </thead>
            <tbody>
            
            @for(var i = 0; i < Model.Students.Count; i++)  
            {
                <tr>
                    <td>@string.Format($"{Model.Students[i].FirstName} {Model.Students[i].LastName}")</td>
                    <td>
                        @* TODO: get this to pass the value of the attendance *@
                        @for (var j = 0; j < Model.Lecture.Attendance.Count; j++)
                        {
                            if (Model.Lecture.Attendance.ElementAt(j).Student.Id == Model.Students[i].Id)
                            {
                                @Html.CheckBoxFor(model => model.Lecture.Attendance.ElementAt(j).Present)

                                break;
                            }

                        }

                        @*@Html.CheckBoxFor(model => model.Lecture.Attendance.Single(a => a.Student.Id == Model.Students[i].Id).Present)*@

                        @Html.HiddenFor(model => model.Students[i].Id)
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <input type="submit" id="btnSubmit"/>
    }

    @Html.ActionLink("Delete Lecture", "Delete", "Lecture", new { lectureId = Model.Lecture.Id }, null)
}
